@model ViewModels.SliderCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش آیتم
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="SliderId" id="SliderId" value="@Model.SliderId" />
                        <input type="hidden" name="SliderGroupId" id="SliderGroupId" value="@Model.SliderGroupId" />
                        <input type="hidden" name="ImageName" id="ImageName" value="@Model.ImageName" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#fa" role="tab">FA</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#en" role="tab">EN</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ar" role="tab">AR</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#ur" role="tab">UR</a></li>
                                    </ul>
                                    <div class="tab-content p-3">
                                        <div class="tab-pane fade show active" id="fa" role="tabpanel">
                                            <div class="form-group">
                                                <label for="Title">عنوان</label>
                                                <input type="text" name="Title" class="form-control" value="@Model.Title" id="Title" placeholder="عنوان را وارد کنید">
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescription">توضیح کوتاه</label>
                                                <input type="text" class="form-control" name="ShortDescription" value="@Model.ShortDescription" id="ShortDescription" placeholder="توضیح کوتاه را وارد کنید">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="en" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleEn">Title</label>
                                                <input type="text" class="form-control" name="TitleEn" id="TitleEn" value="@Model?.TitleEn" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescriptionEn">Short Description</label>
                                                <input type="text" class="form-control" name="ShortDescriptionEn" id="ShortDescriptionEn" value="@Model?.ShortDescriptionEn" />
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ar" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleAr">Title</label>
                                                <input type="text" class="form-control" name="TitleAr" id="TitleAr" value="@Model?.TitleAr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescriptionAr">Short Description</label>
                                                <input type="text" class="form-control" name="ShortDescriptionAr" id="ShortDescriptionAr" value="@Model?.ShortDescriptionAr" />
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ur" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleUr">Title</label>
                                                <input type="text" class="form-control" name="TitleUr" id="TitleUr" value="@Model?.TitleUr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescriptionUr">Short Description</label>
                                                <input type="text" class="form-control" name="ShortDescriptionUr" id="ShortDescriptionUr" value="@Model?.ShortDescriptionUr" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Link">لینک</label>
                                <input type="text" class="form-control" name="Link" value="@Model.Link" id="Link" placeholder="لینک را وارد کنید">
                            </div>
                            <div class="form-group ">
                                <div class="text-center">
                                    <img id="imagePreview" class="thumbnail my-5 w-100" src="~/Images/Sliders/@Model.ImageName" />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="imagePreview">انتخاب تصویر</label>
                                        <input type="file" accept="Images/" id="imageProduct" name="imageProduct" />
                                        <p>
                                            تصویر اسلایدر اول صفحه نخست (دسکتاپ): 107X43 - 1920X774
                                            <br />
                                            تصویر اسلایدر اول صفحه نخست (موبایل): 974X1920
                                            <br />

                                            تصویر اسلایدر دوم صفحه نخست: 7X5 - 1920X1350
                                            <br />

                                            تصویر اسلایدر اول صفحه درباره ما: 16X9 - 1920X1080
                                            <br />

                                            تصویر اسلایدر نقل قول ها: 1X1 - 1080X1080
                                            <br />

                                            تصویر اسلایدر صفحه ارتباط با ما: 8x5 - 512x320
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning">ثبت</button>
                            <a href="/Admin/Sliders" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    imageProduct.onchange = evt => {
        const [file] = imageProduct.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
        }
    }
</script>