@model ViewModels.DownloadLinkCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">
                            افزودن لینک دانلود
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="Title">عنوان</label>
                                        <input type="text" class="form-control" name="Title" id="Title" placeholder=" عنوان را وارد کنید">
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <label for="ShortDescription">توضیح کوتاه</label>
                                        <input type="text" class="form-control" name="ShortDescription" id="ShortDescription" placeholder=" توضیح کوتاه را وارد کنید">
                                    </div>
                                    <div class="form-group">
                                        <label for="Link">لینک</label>
                                        <input type="text" class="form-control" name="Link" id="Link" placeholder=" لینک را وارد کنید">
                                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group ">
                                        <div class="text-center">
                                            <img id="imagePreview" class="thumbnail my-5" src="/Assest/img/Logo-colorful.png" />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <label for="imagePreview">انتخاب تصویر (1X1 - 512X512)</label>
                                                <input type="file" id="imageProduct" name="imageProduct" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card card-success">
                                        <div class="card-header">
                                            <h3 class="card-title">دسته بندی</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <!-- form start -->
                                        @foreach (var item in Model.Groups)
                                        {
                                            <div class="form-check m-2">
                                                <input type="checkbox" class="form-check-input" id="@item.GroupID" name="SelectedGroups" value="@item.GroupID">
                                                <label class="form-check-label" for="@item.GroupID">@item.GroupName</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">ثبت</button>
                            <a href="/Admin/Downloads" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    imageProduct.onchange = evt => {
        const [file] = imageProduct.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
        }
    }
</script>