@model ViewModels.IntroduceCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش آیتم
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(m => m.IntroduceID)
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <ul class="nav nav-tabs" id="langTab" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" id="fa-tab" data-toggle="tab" href="#fa" role="tab">FA</a></li>
                                        <li class="nav-item"><a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab">EN</a></li>
                                        <li class="nav-item"><a class="nav-link" id="ar-tab" data-toggle="tab" href="#ar" role="tab">AR</a></li>
                                        <li class="nav-item"><a class="nav-link" id="ur-tab" data-toggle="tab" href="#ur" role="tab">UR</a></li>
                                    </ul>
                                    <div class="tab-content p-3" id="langTabContent">
                                        <div class="tab-pane fade show active" id="fa" role="tabpanel">
                                            <div class="form-group">
                                                <label for="Title">عنوان</label>
                                                <input type="text" class="form-control w-100" value="@Model.Title" name="Title" id="Title" placeholder="عنوان را وارد کنید" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Description">توضیح کوتاه</label>
                                                <textarea rows="5" class="form-control w-100" name="Description" id="Description" placeholder="توضیح کوتاه را وارد کنید">@Model.Description</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="en" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleEn">Title</label>
                                                <input type="text" class="form-control w-100" name="TitleEn" id="TitleEn" value="@Model.TitleEn" />
                                            </div>
                                            <div class="form-group">
                                                <label for="DescriptionEn">Short Description</label>
                                                <textarea rows="5" class="form-control w-100" name="DescriptionEn" id="DescriptionEn">@Model.DescriptionEn</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ar" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleAr">Title</label>
                                                <input type="text" class="form-control w-100" name="TitleAr" id="TitleAr" value="@Model.TitleAr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="DescriptionAr">Short Description</label>
                                                <textarea rows="5" class="form-control w-100" name="DescriptionAr" id="DescriptionAr">@Model.DescriptionAr</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ur" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleUr">Title</label>
                                                <input type="text" class="form-control w-100" name="TitleUr" id="TitleUr" value="@Model.TitleUr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="DescriptionUr">Short Description</label>
                                                <textarea rows="5" class="form-control w-100" name="DescriptionUr" id="DescriptionUr">@Model.DescriptionUr</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">ویژگی ها</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <!-- form start -->
                                        @foreach (var item in Model.Features)
                                        {
                                            <div class="form-check m-2">
                                                <input type="radio" class="form-check-input" id="@item.FeatureID" @((Model.SelectedFeature.Any(s => s == item.FeatureID) ? "checked" : "")) name="SelectedFeature" value="@item.FeatureID">
                                                <label class="form-check-label" for="@item.FeatureID">@item.Title</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning">ثبت</button>
                            <a href="/Admin/News" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>