@model DataLayer.SocialMedium
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">
                            حذف صفحه مجازی
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="SocialMediaId" id="SocialMediaId" value="@Model.SocialMediaId" />
                        <input type="hidden" name="ImageName" id="ImageName" value="@Model.ImageName" />
                        <input type="hidden" name="ClassName" id="ClassName" value="@Model.ClassName" />
                        <input type="hidden" name="Title" id="Title" value="@Model.Title" />
                        <input type="hidden" name="Link" id="Link" value="@Model.Link" />
                        <input type="hidden" name="ClassName" id="ClassName" value="@Model.ClassName" />
                        <input type="hidden" name="ColorCode" id="ColorCode" value="@Model.ColorCode" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">عنوان</label>
                                <p>@Model.Title</p>
                            </div>
                            <div class="form-group">
                                <label for="Link">لینک</label>
                                <p>@Model.Link</p>

                            </div>
                            <div class="form-group">
                                <label for="ClassName">کلاس</label>
                                <p>@Model.ClassName</p>

                            </div>
                            <div class="form-group">
                                <label for="ColorCode">کد رنگ</label>
                                <p>@Model.ColorCode</p>

                            </div>
                            <div class="form-group ">
                                <div class="text-center">
                                    @Html.Raw(Model.ImageName)
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger">حذف</button>
                            <a href="/Admin/SocialMedia" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>