@model ViewModels.AdminsPageDataViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <h3 class="card-title">
                                    لیست ادمین ها
                                    <a href="/Admin/Admins/Create" class="btn btn-outline-success mx-3">افزودن ادمین</a>
                                </h3>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="card-tools">
                                    <div class="input-group input-group-sm my-2 my-lg-0" style="width: 100%;">
                                        <input type="text" id="BlogSearch" name="BlogSearch" class="form-control float-right" placeholder="جستجو">

                                        <div class="input-group-append">
                                            <a onclick="GetAdmins($('#BlogSearch').val())" class="btn btn-default"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        

                    </div>
                    <!-- /.card-header -->
                    <div id="AdminTable">
                        @if (Model.Admin.Any())
                        {
                            <div class="card-body table-responsive p-0">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                        <tr>
                                            <th>نام کاربری</th>
                                            <th>دسترسی ها</th>
                                            <th>شماره تماس</th>
                                            <th>*</th>
                                        </tr>
                                        @foreach (var item in Model.Admin)
                                        {
                                            <tr>
                                                <td>@item.Username</td>
                                                <td>
                                                    @item.Access
                                                </td>
                                                <td>
                                                    @item.Phonenumber
                                                </td>
                                                <td>
                                                    <a href="/Admin/Admins/Update/@item.AdminID" class="btn btn-outline-warning rounded mx-1" title="ویرایش">
                                                        <span class="fa fa-edit"></span>
                                                    </a>
                                                    <a href="/Admin/Admins/Delete/@item.AdminID" class="btn btn-outline-danger rounded mx-1" title="حذف">
                                                        <span class="fa fa-trash"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer clearfix">
                                @if (Model.PageCount > 1)
                                {
                                    <ul class="pagination pagination-sm m-0 justify-content-center ">
                                        @if (Model.Pagination.PageID == 1)
                                        {
                                            <li class="page-item disabled"><a class="page-link" onclick="GetAdmins(@(Model.Pagination.PageID - 1))">«</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" onclick="GetAdmins(@(Model.Pagination.PageID - 1))">«</a></li>

                                        }
                                        @foreach (var item in Model.Pagination.PageNumbers)
                                        {
                                            if (item == Model.Pagination.PageID)
                                            {
                                                <li class="page-item active"><a class="page-link" onclick="GetAdmins(@(item))">@item</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" onclick="GetAdmins(@(item))">@item</a></li>
                                            }
                                        }

                                        @if (Model.Pagination.PageID >= Model.Pagination.PageCount)
                                        {
                                            <li class="page-item disabled"><a class="page-link" onclick="GetAdmins(@(Model.Pagination.PageID + 1))">»</a></li>

                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" onclick="GetAdmins(@(Model.Pagination.PageID + 1))">»</a></li>

                                        }
                                    </ul>


                                }
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    function GetAdmins(pageID) {
        var q = $('#BlogSearch').val();
        $.ajax({
            url: "/Admin/Admins/GetAdmins?q=" + q + "&PageID=" + pageID,
            type: "Get",
            data: { q: q, PageID: pageID }
        }).done(function (result) {
            $("#AdminTable").html(result);
        });


    }



</script>