@model ViewModels.BlogCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">
                            افزودن خبر
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="Title">عنوان</label>
                                        <input type="text" class="form-control w-100" name="Title" id="Title" placeholder="عنوان را وارد کنید" />
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="ShortDescription">توضیح کوتاه</label>
                                        <textarea rows="5" class="form-control w-100" name="ShortDescription" id="ShortDescription" placeholder="توضیح کوتاه را وارد کنید"></textarea>
                                        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">متن</label>
                                        <textarea rows="5" class="form-control w-100" name="Description" id="Description" placeholder="متن را وارد کنید"></textarea>
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group ">
                                        <div class="text-center">
                                            <img id="imagePreview" class="thumbnail my-5 w-100" src="~/Assest/img/Logo-colorful.png" />
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <label for="imagePreview">انتخاب تصویر (16x9 - 1920x1080)</label>
                                                <input type="file" accept="Images/" id="imageProduct" name="imageProduct" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tags">کلمات کلیدی</label>
                                        <input type="text" class="form-control w-100" name="Tags" id="Tags" placeholder="کلمات کلیدی را با ، جدا کنید" />
                                    </div>
                                    <div class="form-group">
                                        <label for="Source">منبع</label>
                                        <input type="text" class="form-control w-100" name="Source" id="Source" placeholder="منبع را وارد کنید" />
                                    </div>
                                    <div class="form-group">
                                        <label for="StudyTime">زمان مطالعه (دقیقه)</label>
                                        <input type="number" min="1" value="1" class="form-control w-100" name="StudyTime" id="StudyTime" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">ویژگی ها <span style="color:white;font-size:10px;font-weight:bold;">@ViewBag.SelectedMessage</span></h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <!-- form start -->
                                        @foreach (var item in Model.Groups)
                                        {
                                            <div class="form-check m-2">
                                                <input type="checkbox" class="form-check-input" id="@item.GroupID" name="SelectedGroups" value="@item.GroupID">
                                                <label class="form-check-label" for="@item.GroupID">@item.GroupName</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">ثبت</button>
                            <a href="/Admin/News" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
@section Ckeditor{
    <script>
        $(function () {
            $('#Description').ckeditor();
        });
    </script>
}
<script>
    imageProduct.onchange = evt => {
        const [file] = imageProduct.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
        }
    }
</script>