@model ViewModels.BlogCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">
                            حذف خبر
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(m => m.BlogID)
                        @Html.HiddenFor(m => m.ImageName)
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="Title">عنوان</label>
                                        <p>@Model.Title</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="ShortDescription">توضیح کوتاه</label>
                                        <p>@Model.ShortDescription</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">متن</label>
                                        <p>@Html.Raw(Model.Description)</p>
                                    </div>
                                    <div class="form-group ">
                                        <div class="text-center">
                                            <img id="imagePreview" class="thumbnail my-5 w-100" src="~/Images/Blogs/@Model.ImageName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Tags">کلمات کلیدی</label>
                                        <p>@Model.Tags</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="Source">منبع</label>
                                        <p>@Model.Source</p>

                                    </div>
                                    <div class="form-group">
                                        <label for="StudyTime">زمان مطالعه (دقیقه)</label>
                                        <p>@Model.StudyTime</p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card card-info">
                                        <div class="card-header">
                                            <h3 class="card-title">ویژگی ها</h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <!-- form start -->
                                        @foreach (var item in Model.Groups)
                                        {
                                            <div class="form-check m-2">
                                                <input type="checkbox" class="form-check-input" disabled id="@item.GroupID" @((Model.SelectedGroups.Any(s => s == item.GroupID) ? "checked" : "")) name="SelectedGroups" value="@item.GroupID">
                                                <label class="form-check-label" for="@item.GroupID">@item.GroupName</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-danger">حذف</button>
                            <a href="/Admin/News" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
