@model ViewModels.AboutUsSightCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش چشم انداز
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="AboutUsSightId" id="AboutUsSightId" value="@Model.AboutUsSightId" />
                        <input type="hidden" name="ImageName" id="ImageName" value="@Model.ImageName" />
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="langTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="fa-tab" data-toggle="tab" href="#fa" role="tab">FA</a></li>
                                <li class="nav-item"><a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab">EN</a></li>
                                <li class="nav-item"><a class="nav-link" id="ar-tab" data-toggle="tab" href="#ar" role="tab">AR</a></li>
                                <li class="nav-item"><a class="nav-link" id="ur-tab" data-toggle="tab" href="#ur" role="tab">UR</a></li>
                            </ul>
                            <div class="tab-content p-3" id="langTabContent">
                                <div class="tab-pane fade show active" id="fa" role="tabpanel">
                                    <div class="form-group">
                                        <label for="SightTitle">عنوان</label>
                                        <input type="text" name="SightTitle" class="form-control" value="@Model.SightTitle" id="SightTitle" placeholder="عنوان را وارد کنید">
                                    </div>
                                    <div class="form-group">
                                        <label for="SightDescription">توضیح تکمیلی</label>
                                        <textarea rows="5" class="form-control w-100" name="SightDescription" id="SightDescription" placeholder="توضیح تکمیلی را وارد کنید">@Model.SightDescription</textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="en" role="tabpanel">
                                    <div class="form-group">
                                        <label for="SightTitleEn">Title</label>
                                        <input type="text" name="SightTitleEn" class="form-control" id="SightTitleEn" value="@Model.SightTitleEn" />
                                    </div>
                                    <div class="form-group">
                                        <label for="SightDescriptionEn">Description</label>
                                        <textarea rows="5" class="form-control w-100" name="SightDescriptionEn" id="SightDescriptionEn">@Model.SightDescriptionEn</textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ar" role="tabpanel">
                                    <div class="form-group">
                                        <label for="SightTitleAr">Title</label>
                                        <input type="text" name="SightTitleAr" class="form-control" id="SightTitleAr" value="@Model.SightTitleAr" />
                                    </div>
                                    <div class="form-group">
                                        <label for="SightDescriptionAr">Description</label>
                                        <textarea rows="5" class="form-control w-100" name="SightDescriptionAr" id="SightDescriptionAr">@Model.SightDescriptionAr</textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ur" role="tabpanel">
                                    <div class="form-group">
                                        <label for="SightTitleUr">Title</label>
                                        <input type="text" name="SightTitleUr" class="form-control" id="SightTitleUr" value="@Model.SightTitleUr" />
                                    </div>
                                    <div class="form-group">
                                        <label for="SightDescriptionUr">Description</label>
                                        <textarea rows="5" class="form-control w-100" name="SightDescriptionUr" id="SightDescriptionUr">@Model.SightDescriptionUr</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="text-center">
                                    <img id="imagePreview" class="thumbnail my-5" src="~/Images/Site/@Model.ImageName" />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="imagePreview">انتخاب تصویر</label>
                                        <input type="file" accept="Images/" id="imageProduct" name="imageProduct" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning">ثبت</button>
                            <a href="/Admin/AboutUsSight" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    imageProduct.onchange = evt => {
        const [file] = imageProduct.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
        }
    }
</script>