@model ViewModels.SearchPageDataViewModel
@section NavbarJs {
    <script src="/Assest/js/Scrolled-WhiteNav.js"></script>
}
@section Navbar{
    <partial name="_WhiteNavbar"></partial>
}
@section SeoTags {
    @await Component.InvokeAsync("MainSeoTags")

}
@section ExtraLibrary {
    <link rel="stylesheet" href="/Assest/css/extra.css" />
    <link rel="stylesheet" href="/Assest/css/queries.css" />

    <!-- SVG -->
    <?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
}

<!--Content-->
<article class="position-relative">
    <div class="bg-silver p-lg-5 position-relative">
        <div class="container">
            <!-- Article Content -->
            <div data-aos="fade-up" data-aos-duration="1800">
                <div class="row">
                    <div class="col-lg-12 col-md-12 mt-5">
                        <h1 class="text-darkblue fw-bold fs-1 font-ExtraBold">
                            <span data-i18n-key="searchFor">جستجو در مورد</span> "@ViewBag.q"
                        </h1>
                    </div>
                </div>
            </div>
            <br />
            <!-- Content -->
            <!-- Article Content -->
        </div>
    </div>
    <div class="container p-lg-5 position-relative">
        <!-- Article Content -->
        <!--Faqs-->
        <div data-aos="fade-up" data-aos-duration="1800" class="mb-5">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    @if (Model.Faqs.Any())
                    {
                        <div class="accordion-faq accordion" id="Q">
                            @foreach (var item in Model.Faqs)
                            {
                                <div class="accordion-item-faq accordion-item my-2">
                                    <h2 class="accordion-header-faq accordion-header"
                                        id="h_@(item.FaqID)">
                                        <button class="accordion-button-faq accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#q_@(item.FaqID)"
                                                aria-expanded="false"
                                                aria-controls="q_@(item.FaqID)">
                                            @item.Question
                                        </button>
                                    </h2>
                                    <div id="q_@(item.FaqID)"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="h_@(item.FaqID)"
                                         data-bs-parent="#Q">
                                        <div class="accordion-body p-4">
                                            <p class="text-pencil">@item.Answer</p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    }
                    else
                    {
                        <p data-i18n-key="noQuestionsFound">موردی در سوالات متداول یافت نشد</p>
                    }
                </div>
            </div>
        </div>
        <!--Faqs-->
        
        <!-- Article Content -->
    </div>
    <div class="bg-silver p-lg-5 position-relative">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="text-darkblue fw-bold d-inline-block font-ExtraBold">
                            <span data-i18n-key="latestArticlesNewsBasedOn">آخرین مقالات و اخبار بر اساس</span> "@ViewBag.q"
                        </h2>
                        <p class="text-green2 fs-12 d-inline-block fw-bold mx-4" data-i18n-key="stayUpdatedArticles">
                            برای اطلاع از جدیدترین رویدادها و مقالات همراه ما باشید
                        </p>
                    </div>
                </div>
                @if (Model.Blogs.Any())
                {
                    <div class="row">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-lg-4 col-md-12 my-4">
                                <a href="/PostBlogs/@item.BlogID">
                                    <img src="/Images/Blogs/@item.ImageName" class="w-100 radius-20" alt="@item.Title">
                                </a><a href="/PostBlogs/@item.BlogID" class="text-darkblue">
                                    <p class="text-darkblue mt-4">@item.Title</p>
                                </a>
                                @if (!string.IsNullOrEmpty(item.Source))
                                {
                                    <p class="text-darkblue fw-bold">
                                        <span class="fa fa-clock-o"></span>
                                        @item.CreateDate روز قبل  | @item.Source 
                                    </p>
                                }
                                else
                                {
                                    <p class="text-darkblue fw-bold">
                                        <span class="fa fa-clock-o"></span>
                                        @item.CreateDate روز قبل
                                    </p>
                                }
                                

                            </div>
                        }
                    </div>
                }
                else
                {
                    <p data-i18n-key="noBlogResults">موردی در بخش وبلاگ و اخبار اپلیکیشن یافت نشد</p>
                }
            </div>
        </div>
    </div>
    <article class="bg-silver p-5 position-relative">
        <div class="container">
            <!-- Features -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h2 class="text-darkblue fw-bold d-inline-block font-ExtraBold">
                        <span data-i18n-key="searchFor">جستجو در مورد</span> "@ViewBag.q" <span data-i18n-key="inFeatures">در ویژگی ها</span>
                    </h2>
                </div>
            </div>
            @if (Model.Features.Any())
            {
                <div class="mt-5">
                    <div class="row">
                        @for (int i = 0; i < (Model.Features.Count); i++)
                        {
                            <div class="col-lg-3  col-md-6 col-12 mb-2">
                                <div class="feature-card">
                                    <a href="/Feature/@Model.Features[i].Demo">
                                        <div class="feature-item">
                                            <div class="feature-img-box">
                                                <lottie-player src="/Images/Features/Json/@Model.Features[i].AnimateImage" background="transparent" speed="1" style="width: 300px; height: 180px; display: none" class="feature-lottie" loop="" autoplay=""></lottie-player>
                                                <img src="/Images/Features/@Model.Features[i].ImageName" alt="دوازده" class="feature-svg" width="70" height="60">
                                            </div>
                                            <div class="feature-content-box">
                                                <h4 class="text-lightblue fw-bold">@Model.Features[i].Title</h4>
                                                <p class="text-pencil">
                                                    @Model.Features[i].ShortDescription
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <p data-i18n-key="noFeatureResults">موردی در ویژگی های اپلیکیشن یافت نشد</p>
            }
            <!-- Features -->


        </div>


    </article>
    
</article>

<!--Content-->