@model DataLayer.FeedBack
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش پیام
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="FeedBackId" id="FeedBackId" value="@Model.FeedBackId" />
                        <input type="hidden" name="ImageName" id="ImageName" value="@Model.ImageName" />
                        <input type="hidden" name="Subject" id="Subject" value="@Model.Subject" />
                        <input type="hidden" name="Fullname" id="Fullname" value="@Model.Fullname" />
                        <input type="hidden" name="CreateDate" id="CreateDate" value="@Model.CreateDate" />
                        <input type="hidden" name="Email" id="Email" value="@Model.Email" />
                        <input type="hidden" name="Text" id="Text" value="@Model.Text" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Fullname">نام و نام خانوادگی</label>
                                <p>@Model.Fullname</p>
                            </div>
                            <div class="form-group">
                                <label for="Email">ایمیل</label>
                                <p>@Model.Email</p>

                            </div>
                            <div class="form-group">
                                <label for="CreateDate">تاریخ</label>
                                <p>@Utilities.DateConvertor.ToShamsi(Model.CreateDate)</p>

                            </div>
                            <div class="form-group">
                                <label for="Subject">عنوان</label>
                                <p>@Model.Subject</p>
                            </div>
                            <div class="form-group">
                                <label for="Text">متن</label>
                                <p>@Model.Text</p>
                            </div>
                            <div class="form-check">
                                @Html.CheckBoxFor(model => model.IsShow,htmlAttributes: new {@class="form-check-input"})
                                @Html.ValidationMessageFor(model => model.IsShow, "", new { @class = "text-danger" })
                                @Html.LabelFor(model => model.IsShow,"نمایش در سایت", htmlAttributes: new { @class = "form-check-label" })
                            </div>
                            <div class="form-group ">
                                @if (string.IsNullOrEmpty(Model.ImageName))
                                {
                                    <div class="text-center">
                                        <img id="imagePreview" class="thumbnail my-5" src="~/Assest/img/Logo-colorful.png" />
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <img id="imagePreview" class="thumbnail my-5" src="~/Images/FeedBacks/@Model.ImageName" />
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="imagePreview">انتخاب تصویر (1x1 - 512x512)</label>
                                        <input type="file" accept="Images/" id="imageProduct" name="imageProduct" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning">ثبت</button>
                            <a href="/Admin/FeedBacks" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<script>
    imageProduct.onchange = evt => {
        const [file] = imageProduct.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
        }
    }
</script>