@model ViewModels.FeatureCrudViewModel
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">
                            ویرایش ویژگی
                            <span class="text-dark mx-2">@ViewBag.Message</span>
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="FeatureId" value="@Model.FeatureId" />
                        <input type="hidden" name="ImageName" value="@Model.ImageName" />
                        <input type="hidden" name="AnimateFilename" value="@Model.AnimateFilename" />
                        <input type="hidden" name="FirstArticleImage" value="@Model.FirstArticleImage" />
                        <input type="hidden" name="SecondArticleImage" value="@Model.SecondArticleImage" />
                        <input type="hidden" name="IntroduceImageName" value="@Model.IntroduceImageName" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs" id="langTab" role="tablist">
                                        <li class="nav-item"><a class="nav-link active" id="fa-tab" data-toggle="tab" href="#fa" role="tab">FA</a></li>
                                        <li class="nav-item"><a class="nav-link" id="en-tab" data-toggle="tab" href="#en" role="tab">EN</a></li>
                                        <li class="nav-item"><a class="nav-link" id="ar-tab" data-toggle="tab" href="#ar" role="tab">AR</a></li>
                                        <li class="nav-item"><a class="nav-link" id="ur-tab" data-toggle="tab" href="#ur" role="tab">UR</a></li>
                                    </ul>
                                    <div class="tab-content p-3" id="langTabContent">
                                        <div class="tab-pane fade show active" id="fa" role="tabpanel">
                                            <div class="form-group">
                                                <label for="Title">عنوان</label>
                                                <input type="text" name="Title" class="form-control" id="Title" value="@Model.Title" placeholder="عنوان را وارد کنید">
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescription">توضیح کوتاه</label>
                                                <input type="text" class="form-control" name="ShortDescription" id="ShortDescription" value="@Model.ShortDescription" placeholder="توضیح کوتاه را وارد کنید">
                                                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label for="FirstDescription">توضیح</label>
                                                <textarea rows="5" class="form-control w-100" name="FirstDescription" id="FirstDescription" placeholder="توضیح را وارد کنید">@Model.FirstDescription</textarea>
                                                @Html.ValidationMessageFor(model => model.FirstDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="en" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleEn">Title</label>
                                                <input type="text" class="form-control" name="TitleEn" id="TitleEn" value="@Model.TitleEn" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescriptionEn">Short Description</label>
                                                <input type="text" class="form-control" name="ShortDescriptionEn" id="ShortDescriptionEn" value="@Model.ShortDescriptionEn" />
                                            </div>
                                            <div class="form-group">
                                                <label for="FirstDescriptionEn">Description</label>
                                                <textarea rows="5" class="form-control w-100" name="FirstDescriptionEn" id="FirstDescriptionEn">@Model.FirstDescriptionEn</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ar" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleAr">Title</label>
                                                <input type="text" class="form-control" name="TitleAr" id="TitleAr" value="@Model.TitleAr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescriptionAr">Short Description</label>
                                                <input type="text" class="form-control" name="ShortDescriptionAr" id="ShortDescriptionAr" value="@Model.ShortDescriptionAr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="FirstDescriptionAr">Description</label>
                                                <textarea rows="5" class="form-control w-100" name="FirstDescriptionAr" id="FirstDescriptionAr">@Model.FirstDescriptionAr</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ur" role="tabpanel">
                                            <div class="form-group">
                                                <label for="TitleUr">Title</label>
                                                <input type="text" class="form-control" name="TitleUr" id="TitleUr" value="@Model.TitleUr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="ShortDescriptionUr">Short Description</label>
                                                <input type="text" class="form-control" name="ShortDescriptionUr" id="ShortDescriptionUr" value="@Model.ShortDescriptionUr" />
                                            </div>
                                            <div class="form-group">
                                                <label for="FirstDescriptionUr">Description</label>
                                                <textarea rows="5" class="form-control w-100" name="FirstDescriptionUr" id="FirstDescriptionUr">@Model.FirstDescriptionUr</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="text-center">
                                    <img id="imagePreview" class="thumbnail my-5" src="~/Images/Features/@Model.ImageName" />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="imagePreview">انتخاب تصویر 1x1 - 512x512 (SVG)</label>
                                        <input type="file" accept="Images/" id="imageProduct" name="imageProduct" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="animeteFile">انتخاب فایل انیمیشن</label>
                                        <input type="file" id="animeteFile" name="animeteFile" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="text-center">
                                    <img id="introducePreview" class="thumbnail my-5" src="~/Images/Features/@Model.IntroduceImageName" />
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label for="introducePreview">انتخاب تصویر معرفی نرم افزار در صفحه اول 1x1 - 512x512 (SVG)</label>
                                        <input type="file" accept="Images/" id="introduceProduct" name="introduceProduct" />
                                    </div>
                                </div>
                            </div>
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">مقاله اول</h3>
                                </div>
                                <div class="form-group m-3">
                                    <label for="FirstArticleTitle">عنوان مقاله اول</label>
                                    <input type="text" class="form-control" name="FirstArticleTitle" id="FirstArticleTitle" value="@Model.FirstArticleTitle" placeholder="عنوان مقاله اول را وارد کنید">
                                </div>
                                <div class="form-group m-3">
                                    <label for="FirstArticleDescription">توضیح مقاله اول</label>
                                    <textarea rows="5" class="form-control w-100" name="FirstArticleDescription" id="FirstArticleDescription" placeholder="توضیح مقاله اول را وارد کنید">@Model.FirstArticleDescription</textarea>
                                </div>
                                <div class="form-group m-3 ">
                                    <div class="text-center">
                                        <img id="imageFAPreview" class="thumbnail my-5 w-100" src="~/Images/Features/@Model.FirstArticleImage" />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label for="imageFAPreview">انتخاب تصویر مقاله اول (75x74 - 1500x1080)</label>
                                            <input type="file" accept="Images/" id="imageFAProduct" name="imageFAProduct" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">مقاله دوم</h3>
                                </div>
                                <div class="form-group m-3">
                                    <label for="SecondArticleTitle">عنوان مقاله دوم</label>
                                    <input type="text" class="form-control" name="SecondArticleTitle" id="SecondArticleTitle" value="@Model.SecondArticleTitle" placeholder="عنوان مقاله دوم را وارد کنید">
                                </div>
                                <div class="form-group m-3">
                                    <label for="SecondArticleDescription">توضیح مقاله دوم</label>
                                    <textarea rows="5" class="form-control w-100" name="SecondArticleDescription" id="SecondArticleDescription" placeholder="توضیح مقاله دوم را وارد کنید">@Model.SecondArticleDescription</textarea>
                                </div>
                                <div class="form-group m-3 ">
                                    <div class="text-center">
                                        <img id="imageSAPreview" class="thumbnail my-5 w-100" src="~/Images/Features/@Model.SecondArticleImage" />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <label for="imageSAPreview">انتخاب تصویر مقاله دوم (75x74 - 1500x1080)</label>
                                            <input type="file" accept="Images/" id="imageSAProduct" name="imageSAProduct" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-warning">ثبت</button>
                            <a href="/Admin/Features" class="btn btn-info float-left">بازگشت به لیست</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
@section Ckeditor{
<script>
    $(function () {
        $('#FirstDescription').ckeditor();
    });
</script>
}
<script>
    imageProduct.onchange = evt => {
        const [file] = imageProduct.files
        if (file) {
            imagePreview.src = URL.createObjectURL(file)
        }
    }
</script>
<script>
    imageFAProduct.onchange = evt => {
        const [file] = imageFAProduct.files
        if (file) {
            imageFAPreview.src = URL.createObjectURL(file)
        }
    }
</script>
<script>
    imageSAProduct.onchange = evt => {
        const [file] = imageSAProduct.files
        if (file) {
            imageSAPreview.src = URL.createObjectURL(file)
        }
    }
</script>
<script>
    introduceProduct.onchange = evt => {
        const [file] = introduceProduct.files
        if (file) {
            introducePreview.src = URL.createObjectURL(file)
        }
    }
</script>
